In [1]:
import pandas as pd
import requests
import json

In [2]:
price_series = {
    'USA':'CUUR0000SAF116',
    'Houston':'CUURS37BSAF116',
    'DFW':'CUURS37ASAF116'
}

request_data

p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/',
                  data=request_data,
                  headers=headers)
json_data = json.loads(p.text)

In [3]:
start_year = 1990
end_year = 2022

We can only download 9 years, 11 months of data at a time. If data range is larger than this, then loop over it.

In [ ]:
if end_year - start_year > 9:
    for 
else:

In [58]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": [v for v in price_series.values()],
                   "startyear":"1990", "endyear":"1999"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [ ]:
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()